version: "3.10"

services:
  database:
    image: "postgres"
    environment:
      POSTGRES_USER: tinyurl
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: tinyurl
    ports:
      - 5432:5432
    healthcheck:
      # https://github.com/peter-evans/docker-compose-healthcheck/issues/16
      test:
        [
          "CMD",
          "pg_isready",
          "q",
          "-U",
          "song",
          "-d",
          "song"
        ]
      interval: 10s
      timeout: 5s
      retries: 5
