---
name: test
on:
  - push
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b "$(go env GOPATH)/bin"
      - run: curl -sSf 'https://atlasgo.sh?test=1' | env ATLAS_DEBUG=true sh
      - run: just go-lint --timeout 10m
      - run: just atlas-lint

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: curl -sSf 'https://atlasgo.sh?test=1' | env ATLAS_DEBUG=true sh
      - run: just test
      - uses: codecov/codecov-action@v5
        with:
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: 1995parham-teaching/tinyurl
      - run: git diff --exit-code ./migrations/atlas.sum

  docker:
    name: docker
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/setup-qemu-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/bake-action@v6
        with:
          files: "build/package/docker-bake.json"
          push: true
